<div class="container-fluid">
    <img  src="assets/images/ws.png" width="80px" style="border-radius: 1.5rem; position: fixed; bottom: 10px; right: 10px; z-index: 1;" />

    <div class="row">
        <div class="row">
     <div class="col-12 col-lg-6">
            <img  style="border-radius: 2rem;" src="assets/images/flechaI.png" alt="" width="80px">
        </div>
    <div class="col-12 col-lg-6">
          <span class="justify-content-end"><h4>Admin View</h4></span>
        </div>
        </div>
        <div >
            <div class="card-header bg-transparent border-bottom-0">
                <img class=""  style="border-radius: 1.3rem;" src="assets/images/foto4.jpg" alt="" width="50px">
                <span class="ms-3">Johana Rodríguez</span>
                <span class="ms-3 d-flex justify-content-end">Instalacion</span>
            </div>
        
        </div>
        <div class="col-12 col-lg-8">
            <iframe class="card shadow" style="border-radius: 2rem;" height="730px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3712.65839115537!2d-104.8489991!3d21.4819165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84273757a049b84f%3A0x322a881e7bd99ea3!2sCentro%20Nayarita%20de%20Innovaci%C3%B3n%20y%20Transferencia%20de%20Tecnolog%C3%ADa%20A.C.!5e0!3m2!1ses-419!2smx!4v1649019420385!5m2!1ses-419!2smx" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <div id="map"></div>
            <input type="text" id="input_location" placeholder="Ingresa una localizacion"/>
            <script src="map.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9KdWezODbtRZZ7K03axF9feFjAPi00K4&libraries=places&callback=iniciarMap"></script> -->
        </div>

        <div class="col-12 col-lg-4">
         
           
            <div class="card shadow" style="border-radius: 1.5rem;">
                <img  style="border-radius: 1.5rem;" class="align-self-center" src="assets/images/prueba.png" alt="" width="100%">
            </div>
           
            <div class="card shadow" style="border-radius: 1.5rem;">
                <span class="align-self-center"><h4>Descripcion</h4></span>
                <span style="margin-left: 1rem;">
                    las lamparas estan puestas pero algunas luces de ellas estan siendo obstruidas por las ramas y hojas de los arboles
                </span>
            </div>
            <div class="card shadow" style="border-radius: 1.5rem;">
            
                <div class="form-floating"  >
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Comentar</label>
                  </div>
                  
                  
        </div>
            <div ><button type="button" class="btn btn-secondary btn-lg">Mandar Feedback</button>
            </div>
            <div class="mb-5">
                <span>Quitar Publicacion</span>
            </div>
        </div>