<div class="container-fluid">
    <img  src="assets/images/ws.png" width="80px" style="border-radius: 1.5rem; position: fixed; bottom: 10px; right: 10px; z-index: 1;" />
    <img routerLink="/home" style="background: white; position: fixed; top: 10px; left: 10px; z-index: 1;" class="shadow rounded-pill" src="assets/images/FlechaAtras.png" alt="" width="50px">
    <div class="my-4 row">
        <div class="col-12">
            <img class="ms-4" style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            <span class="ms-3">Johana Rodríguez</span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-8">
            <iframe class="card shadow" style="border-radius: 2rem;" height="730px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3712.65839115537!2d-104.8489991!3d21.4819165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84273757a049b84f%3A0x322a881e7bd99ea3!2sCentro%20Nayarita%20de%20Innovaci%C3%B3n%20y%20Transferencia%20de%20Tecnolog%C3%ADa%20A.C.!5e0!3m2!1ses-419!2smx!4v1649019420385!5m2!1ses-419!2smx" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-12 mt-3 col-lg-4">
           
            <div class="card mb-3 shadow" style="border-radius: 1.5rem;">
                <img  style="border-radius: 1.5rem;" class="align-self-center" src="assets/images/prueba.png" alt="" width="100%">
            </div>
            
            <select class="form-select mb-3 rounded-pill shadow" aria-label="Opciones" >
                <option selected>Instalacion</option>
            </select>

            <div class="card mb-3 py-4 shadow" style="border-radius: 1.5rem;">
                <span class="align-self-center"><h4>Descripcion</h4></span>
                <span style="margin-left: 1rem;">
                    Las lamparas estan puestas pero algunas luces de ellas estan siendo obstruidas por las ramas y hojas de los arboles
                </span>
            </div>
            
            <div class="d-flex justify-content-end mx-2">
                Reportar solucionado
            </div>
    </div>