<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <p class="ms-3 text-muted">Pendiente</p>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <p class="ms-3 text-muted">Pendiente</p>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <p class="ms-3 text-muted">Pendiente</p>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- Publicidad -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/burguer king logo.png" alt="" width="50px">
            </div>
            <div class="col-11">
                <p class="mt-3 ms-4">Burger king</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">¡Solo hoy! 2x1 en Wopper JR. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
    </div>
</div>
<!-- Publicidad -->
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- Publicidad -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/burguer king logo.png" alt="" width="50px">
            </div>
            <div class="col-11">
                <p class="mt-3 ms-4">Burger king</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">¡Solo hoy! 2x1 en Wopper JR. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
    </div>
</div>
<!-- Publicidad -->
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoPendido.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- Publicidad -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/burguer king logo.png" alt="" width="50px">
            </div>
            <div class="col-11">
                <p class="mt-3 ms-4">Burger king</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">¡Solo hoy! 2x1 en Wopper JR. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
    </div>
</div>
<!-- Publicidad -->
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- Publicidad -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/burguer king logo.png" alt="" width="50px">
            </div>
            <div class="col-11">
                <p class="mt-3 ms-4">Burger king</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">¡Solo hoy! 2x1 en Wopper JR. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
    </div>
</div>
<!-- Publicidad -->
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 1 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2" style="border-radius: 1.5rem;" src="assets/images/foto1.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Juan Pérez</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Obstrucción de alumbrado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Lib. nogales a la altura de la calle jaiba, justo en el retorno</h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 2 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto2.jpg" alt="" width="50px">
            </div>
            <div class="col-4">
                <p class="mt-3 ms-4">Alfonso Garcia</p>
            </div>
            <div class="col-7">
                <p class="mt-3 text-end">Mal estado</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle playa bucerias #102 col FOVISSTE 2da etapa. Entre chacala y novillero </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 3 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto3.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Kimberly Martínez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Reubicación</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Col. 2 de agosto a media cuadra de las hamburguesas "EL compa el pollo" </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>
<!-- 4 -->
<div class="card mb-3 shadow" style="border-radius: 1.5rem;">
    <div class="card-header bg-transparent border-bottom-0">
        <div class="row">
            <div class="col-1">
                <img class="mt-2"  style="border-radius: 1.5rem;" src="assets/images/foto4.jpg" alt="" width="50px">
            </div>
            <div class="col-5">
                <p class="mt-3 ms-4">Johana Rodríguez</p>
            </div>
            <div class="col-6">
                <p class="mt-3 text-end">Instalacion</p>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <h4 class="card-title">Calle tokio entre Oranto y Valparaíso, Colonia ciudad del valle. </h4>
    </div>
    <div class="row mb-2" style="width: 100%;">
        <div class="col-6">
            <img src="assets/images/FocoApagado.png" class="ms-3" width="30px"><span class="text-muted ms-1">350</span>
        </div>
        <div class="col-6">
            <span routerLink="/view" class="d-flex justify-content-end align-middle">Ver mas...</span>
        </div>
    </div>
</div>