<div class="container-fluid">
    <img routerLink="/home" style="background: white; position: fixed; top: 10px; left: 10px; z-index: 1;" class="shadow rounded-pill" src="assets/images/FlechaAtras.png" alt="" width="50px">
    <div class="row">
        <div class="col-12 col-lg-8">
            <iframe class="card shadow" style="border-radius: 2rem;" height="730px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3712.65839115537!2d-104.8489991!3d21.4819165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84273757a049b84f%3A0x322a881e7bd99ea3!2sCentro%20Nayarita%20de%20Innovaci%C3%B3n%20y%20Transferencia%20de%20Tecnolog%C3%ADa%20A.C.!5e0!3m2!1ses-419!2smx!4v1649019420385!5m2!1ses-419!2smx" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card mt-3 mb-3 shadow" style="border-radius: 1.5rem;">
                <img class="align-self-center" src="assets/images/ImagenMas.png" width="200px">
            </div>
            <select  class="form-select mb-3 rounded-pill shadow" aria-label="Opciones" >
                <option selected>Obstruccion alumbrado</option>
                <option value="1">Mal estado</option>
                <option value="2">Reubicación</option>
                <option value="3">Instalacion</option>
            </select>
            <div class="mb-3">
                <textarea class="form-control rounded shadow" placeholder="Descripción" rows="5"></textarea>
              </div>
            <div class="card shadow">
               <button routerLink="/home" class="btn btn-primary rounded-pill shadow">Crear publicación</button>
            </div>
        </div>
    </div>
</div>