<div class="container-fluid">
    <div class="row">
        <div class="row">
     <div class="col-12 col-lg-6">
            <img  style="border-radius: 2rem;" src="assets/images/flechaI.png" alt="" width="80px">
        </div>
    <div class="col-12 col-lg-6">
          <span class="justify-content-end"><h4>Nueva Publicacion</h4></span>
        </div>
        </div>
      
        <div class="col-12 col-lg-8">
            <iframe class="card shadow" style="border-radius: 2rem;" height="730px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3712.65839115537!2d-104.8489991!3d21.4819165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84273757a049b84f%3A0x322a881e7bd99ea3!2sCentro%20Nayarita%20de%20Innovaci%C3%B3n%20y%20Transferencia%20de%20Tecnolog%C3%ADa%20A.C.!5e0!3m2!1ses-419!2smx!4v1649019420385!5m2!1ses-419!2smx" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <div id="map"></div>
            <input type="text" id="input_location" placeholder="Ingresa una localizacion"/>
            <script src="map.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9KdWezODbtRZZ7K03axF9feFjAPi00K4&libraries=places&callback=iniciarMap"></script> -->
        </div>

        <div class="col-12 col-lg-4">
         
            
            <div class="card shadow" style="border-radius: 1.5rem;">
                <img class="align-self-center" src="assets/images/ImagenMas.png" alt="" width="250rem">
            </div>
            <div class="card shadow" style="border-radius: 1.5rem;">
                <select  class="form-select" aria-label="Opciones" >
                    <option selected>Tipo de reporte</option>
                    <option value="1">Obstruccion alumbrado</option>
                    <option value="2">Mal estado</option>
                    <option value="3">Reubicación</option>
                    <option value="4">Instalacion</option>
                  </select>
            </div>
            <div class="card shadow" style="border-radius: 1.5rem;">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Descripcion</label>
                  </div>
            </div>
            <div class="card shadow"  >
               <button></button>
            </div>
        </div>