<div class="container">
    <img class="mx-auto d-block mt-4 mb-4 rounded-pill shadow" src="assets/images/IconoFotografia.png" alt="" width="150px">
    <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
    <form class="mt-4">
        <div class="mb-3">
          <input type="text" class="form-control rounded-pill shadow" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control rounded-pill shadow" placeholder="Número de Teléfono">
        </div>
        <div class="mb-3 alig">
            <a class="d-flex justify-content-end link-primary">Envia código</a>
        </div>
        <div class="mb-3">
          <label for="codigoDeAcceso" class="form-label">Código de Acceso</label>
          <input type="text" class="form-control rounded-pill shadow" placeholder="Introduce el Código">
        </div>
        <div class="mb-3 form-check d-flex justify-content-center">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label ms-2" for="exampleCheck1">Acepto los <a class="link-primary" href="">Términos y condiciones</a></label>
        </div>
        <div class="d-flex justify-content-center">
            <button routerLink="/home" type="submit" class="btn btn-primary mt-4 rounded-pill shadow">Registrarme</button>
        </div>
      </form>
    </div>
    </div>
</div>
